

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
     

        <dt>
           Nombre des client
        </dt>

        <dd>
            @ViewBag.nbr
        </dd>

    </dl>
</div>
<p>
 
</p>
